@reference "tailwindcss";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom global styles */
@layer base {
  body {
    @apply font-sans text-base text-white;
    background:
      conic-gradient(from 90deg at 1px 1px,
        transparent 25%, #222222 0%)
        calc(-1 * 0.5px) calc(-1 * 0.5px) / 1em 1em,
      linear-gradient(45deg,
        transparent calc(50% + calc(-1 * 0.5px)),
        #484015 0 calc(50% + 0.5px),
        transparent 0)
        0 0 / calc(2 * 1em) calc(2 * 1em),
      linear-gradient(-45deg,
        transparent calc(50% + calc(-1 * 0.5px)),
        #482914 0 calc(50% + 0.5px),
        transparent 0)
        0 0 / calc(2 * 1em) calc(2 * 1em);

    background-color: #1B1F30;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
  }
}
